* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: rgb(83, 83, 83);
}

body {
    background: #e0e0e0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedorMetro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vh 10vw;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  12px 12px 24px #bebebe,
                -12px -12px 24px #ffffff;
    gap: 24px;
 
}

.bpm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoBPM {
    font-size: 56px;
}

.botonCircular {
    min-width: 56px;
    min-height: 36px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.botonCircular:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
}

#botonPlay {
    width: 64px;
    height: 64px;
}



 /* estilos de ajuste de tempo */

 .ajusteBPM {
    display: flex;
}

input[type="range"] {
    -webkit-appearance: none;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 6px 6px 12px #bebebe,
            inset -6px -6px 12px #ffffff;
    height: 12px;
    width: 100%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: linear-gradient(145deg, #5d5d5d, #4e4e4e);
    box-shadow:  3px 3px 6px #bebebe,
                -3px -3px 6px #ffffff;
}

.botonBeat {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.botonBeat:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
}

.botonPresionado {
    min-width: 56px;
    height: 56px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

